img{ display: none; }
dl#Map{
	margin: 0;
	padding: 0;
	/*background: transparent url(mapa.png) top left no-repeat;*/
	background: transparent url(mapa2.png) top left;
	height: 487px;
	width: 1000px;
	position: relative;
}
dt{ margin: 0; padding: 0; position: absolute; font-size: 85%; display: none; }
dd{ margin: 0; padding: 0; position: absolute;  font-size: 85%; }
dd#usaDef{ top: 200px; left: 200px; }
			dd#usaDef div a{background-color: red; position: absolute; width: 22px; height: 22px; text-decoration: none; }
			dd#usaDef div a span{ display: none; }
			/*dd#usaDef a:hover{ position: absolute; background: transparent url(mapa2.png) -109px -317px no-repeat; top: -10px; left: -5px; }*/
			/*div {background-color: blue; position: absolute; width: 200px; height: 200px; text-decoration: none; }*/
			dd#usaDef a:hover span{
			 display: block;
			 text-indent: 0;
			 vertical-align: top;
			 color: #111111;
			 background-color: #F4F4F4;
			 font-weight: bold;
			 position: absolute;
			 border: 1px solid #111111;
			 bottom: 100%;
			 margin: 0;
			 padding: 5px;
			 /*El ancho se calcula en función del tamaño del icono que se use en el estado de muestra */
			 width: 300%;
			}
			/*dd#usaDef a:hover {background-position: 0 0; border: 1px solid #111111;} */
			dd#usaDef a:hover { background: url(icono.png) 0 0 no-repeat; width: 22px; height: 22px; } 
			
dd#singapurDef{ top: 280px; left: 765px; }
dd#singapurDef div a{background-color: red; position: absolute; width: 22px; height: 22px; text-decoration: none; }
dd#singapurDef div a span{ display: none; }
dd#singapurDef a:hover span{
			 display: block;
			 text-indent: 0;
			 vertical-align: top;
			 color: #111111;
			 background-color: #F4F4F4;
			 font-weight: bold;
			 position: absolute;
			 border: 1px solid #111111;
			 bottom: 100%;
			 margin: 0;
			 padding: 5px;
			 width: 300%;
			}
			dd#singapurDef a:hover { background: url(icono.png) 0 0 no-repeat; width: 22px; height: 22px; } 