

@font-face {
   font-family: gotham;
   src: url(../Fonts/gotham.ttf);
}

*{
  font-family: gotham;
}
a{
  text-decoration: none;
  color:white;
}

body{
  background-color: transparent;
  color:white;
  &.modal-active {
    overflow: hidden;
  }


}
header{
  display: flex;
  display:-webkit-flex;
  width: 100%;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items:center;
  height: 16%;
  background: transparent;
  font-size: 24px;

}
.nav{
  width: 47%;
  margin-left: 14vh;
  margin-top: 7vh;

}
 a:visited{
  color:white;
}
.logo{
  width: 9%;
  border-radius: 100%;
  /*background-color: grey;*/
  height: 145px;
  background-image: url(../images/batman.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}

.login{
  width: 25%;
  display: flex;
  display:-webkit-flex;
  justify-content: end;
  -webkit-justify-content:end;
  margin-right: 14vh;
  margin-top: 7vh;
}
.inputbuscar input{
  height: 28px;
}
.btnLogin{
  border: none;
  font-size: 25px;
  background-color: white;
  cursor:pointer;
  }
.buscar img{

  padding-top:4px;
}

footer{
  display:flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items:center;
  font-size: 20px;
  font-weight:bold;
  height: 9%;
  background-color: grey;
}
.contentSection{
  display: flex; /*Jordi*/
  /*height: 75%;*/ /*He quitado este limite porque me afecta al incrustar el mapa - Jordi*/
  display:-webkit-flex;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items:center;
  margin-bottom: 2vw; /* Para mantener distancia con el pie de página independientemente del tamaño del contenido - Jordi*/

}
div.map{
  display: flex;
  height:80%;
  width:90%;
  background-color: grey;
  justify-content: center;	/* He fijado el estilo "map" a <div> y añadido que esté centrado - Jordi*/
}

/*MODAL */
/* The Modal (background) */
/* Modal Header */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #383838;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    opacity: 0.7;
    color:white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10vh;

}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {padding: 2px 16px;}

.labelsForm{
  display: flex;
  justify-content: space-between;
  padding-left: 18vh;
  width: 80%;
  padding-top: 2vh;

}
.labelsModal{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.spanmodal{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 0px;
}
.inputsModal{
  width: 50%;
}
.inputsModal input{
  margin-bottom: 5px;
}
#inpt_pass{
   margin-bottom:25px;
}
#span_separacion{
  margin-bottom: 20px;
}
.div_spanModal{
  display:flex;
  width: 100%;
  justify-content: end;

}
