.contentSection {

}

.contentFav{
	display:flex;
	flex-direction: row;
	justify-content:center;
	text-align:center;
}

.verticalLine {
  border-left: 2px solid black;

}


div.fav-item{
display:flex;
justify-content:center;
margin-bottom: 1vw;
}

div.fav-izq {
	display:flex:
	flex-direction: column;
	min-width: 40vw;
}

div.fav-grupo{
	margin: 1vw;
	margin-bottom: 2vw;
	font-weight: bold;
	color: black;
	font-size: 1vw;
}

span.search-titulo{
	margin-top: 2vw;
	margin-bottom: 2vw;
	/*-webkit-text-stroke: 1px white;*/
  color: black;


}
