@font-face {
   font-family: gotham;
   src: url(../fonts/gotham.ttf);
}

*{
  font-family: gotham;
}
body{

    background: transparent;

}

header{

  height:100px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  padding:10px;
  justify-content: space-around;
  background-color: white;
  color:black !important;
}

.logo{
  width: 172px;
  background-image: url(../images/El_Forastero.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 172px;
  height: 80px;
}

.menu{
  display:flex;
  width:20%;
  min-width: 237px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
}
.login{
  display:flex;
  width: 100px;
  flex-wrap: wrap;
  padding-top: 8px;

}
/*.buscar{

    width: 50px;
    height: 100%;
    background-image: url(../images/lupa-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}*/
.avatar{

  width: 50px;
  height: 100%;
  background-image: url(../images/vampirico.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
span{
    width:100%

    text-align: center;
    margin:auto;
    margin-top: 0px;
}
#avatar_buscar{
  width:100%;
  display:flex;
  height: 34px;
}
button{
  border:none;
  background: none;
  background-color: none;

}
button:hover{
  /*text-decoration: underline;*/
}
.liniaHeader{
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: black;

}

.menu-opc{

	text-decoration: none;

}

#favoritos {
	margin-left:0.5vw;

}

.menu-opc:hover{
	color: #c3b4af;
	animation-name: enlaces;
    animation-duration: 0.5s;

}

@keyframes enlaces {
    from {color: white;}
    to {color: #c3b4af;}
}

#inicio_registro{
  display:flex;
}
#inicio_registro span{
  margin-right: 5px;
  cursor:pointer;
}
footer{
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-top:0px;
  justify-content: space-around;
  background-color: white;
  color: black !important;
  font-size: 17px;
}
.lineaFooter{
    border-top:2px solid black;
    width:100%;
    padding:0px;
    margin: 0px;
}
