/*MODAL */
/* The Modal (background) */
/* Modal Header */
label{

}
.modal {
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  width: 35%;
  border: 1px solid gray;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s opacity: 0.7;
  color: black;
  padding: 3vh;
  border-radius: 7px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10vh;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {padding: 2px 16px;}
.divForm{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.inputsModal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.labelsModal{
  display: flex;
  flex-wrap: wrap;
}
.spanmodal{

  width:100%;
  margin-bottom: 5px;
}
#m2{
  display: block;
  width: 90%;
  margin: auto;
}
#m2 input{
  margin-bottom: 17px;
  width: 100%;
}
.btnModal{
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.btnModal:hover{
  background-image: url(../images/playwhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.labelsModal select{
  height: 28px;
  margin-bottom: 5px;
}
#m1{
  display:flex;
  justify-content: center;
}
#m1 h2{
  width:100%;
}
#m1 input{
  width:100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input_spanLogin span{
  margin-bottom: 5px;

}
