
#menu-11 li ul {
    margin: 20px 0 0 0;
    _margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 300px;
    width:150px;
    height:100%;
    z-index: 1;
    background: #45B7AE;
    border-left: 1px solid #37928B;
    border-right: 1px solid #37928B;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#menu-11 li ul li {


  height: 46px;
  text-align: center;
  color: #f3efe0;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  padding-top: 40px;

}
#menu-11 li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
.linia{
  width:80%;
  height: 1px;

  margin:auto;
  margin-top: 10px;
  background-color:#37928B;
}
.liniaTitulos{
  width:90%;
  height: 1px;
  background-color:#37928B;
  margin:auto;
}

#menu-11 li ul li ul{
    margin: 20px 0 0 0;
    _margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 148px;
    width: 180px;
    height:100%;
    z-index: 1;
    background: #45B7AE;
    border-left: 1px solid #37928B;
    border-right: 1px solid #37928B;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
