.comentario{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  background-color: transparent;
  color: black;

  border-radius: 10px;

}
.comentario_persona{
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  padding-left: 10px;
  background-color: #f4e2db;
  border-radius: 4px;
  width: 100%;

}

.comentario_persona:hover{
  box-shadow: 6px 6px 3px #888888;
}
.flecha{
  width: 0;
  height: 0;
  position: relative;
  z-index: 1;
  top: 10px;
  border-width: 1px;
  border-color: lightgrey;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:30px solid #f4e2db;

}

.comentarios{
  background-color: #F5F3EE;
  color: black;
  padding: 20px;
  border-radius: 10px;
  padding-top: 50px;
}

/*Estrellitas*/
  div.stars {
    /*width: 270px;*/
    width: 100%;
	display: inline-block;
    margin-bottom: 50px;
  }

  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: black;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before { color: #F62; }

  label.star:hover { transform: rotate(-15deg) scale(1.3); }

  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

/*TOOLTIP*/

.tooltip {
 position: relative;
 display: inline-block;
 border-bottom: 1px dotted black;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(255, 242, 191) transparent transparent;
}

.tooltip .tooltiptext {
 visibility: hidden;
 width: 240px;
 background-color: rgb(255, 242, 191);
 color: black;
 text-align: center;
 border-radius: 6px;
 padding: 2px 0;

 /* Position the tooltip */
 position: absolute;
 z-index: 1;
 top: -86px;
 left: 240%;
}

.tooltip:hover .tooltiptext {
 visibility: visible;
}

.texto_componente{
  font-size: 12px;
}

.componente_tooltip{
  display: flex;
  flex-direction: row;
}

.contenedor_tooltip{
  display: flex;
  flex-direction: column;
}
.icono_cabezera_tooltip{

}

.componentes_tooltip{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 35px;
}

/*CHARLIO RECETAS*/

.recetas_2{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  background-color: white;
  border-radius: 10px;	
}
.foto_desc_receta{
  display:flex;
  flex-direction: column;
}

.titulo_receta_2{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2%;
}

.lista_receta{
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 250px;

}

.pack_receta_2{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.nombre_receta_titulo{
  text-align: left;
}

.nombre_receta{
  padding-bottom: 30px;
}

.foto_receta_2{

  max-width: 400px;
  max-height: 250px;

  float: left;
  margin-right: 25px;
  margin-bottom: 25px;

}

.video{
  margin-top: 15px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;

}

.video_receta_2{
  height: 530px;
  width: 940px;
}
.p_receta{
background-color: #F5F3EE;
color: black;
padding: 20px;
border-radius: 10px;
}
