.contentRestaurantes{

  width: 100%;
  margin:auto;
  margin-top: 40px;;
}

.contentRestaurantes h1{
  text-align: center;
  font-size: 25px;
  margin: auto;

  margin-bottom: 32px;
}
.fichaRest{

    margin-bottom: 40px;

}
.fichaRest h3{
  margin-bottom: 30px;
}
.img_txt_rest{
  display:flex;
  justify-content: space-between;

}
.img_txt_rest img{
    min-width: 336px;
    margin-right: 36px;
}
.desc_gmaps{
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

div.stars {
    width: 270px;
    display: inline-block;
    margin-bottom: 50px;
  }

  input.star { display: none; }

  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before { color: #F62; }

  label.star:hover { transform: rotate(-15deg) scale(1.3); }

  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

   select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;

   margin-bottom: 80px;
}

.comentario{
 display: flex;
 flex-direction: row;
 margin-bottom: 50px;

}
.comentario_persona{
 border-width: 1px;
 border-style: solid;
 border-color: lightgrey;
 padding-left: 10px;
 background-color: #f4e2db;
 border-radius: 4px;
 width: 100%;


}

.comentario_persona:hover{
 box-shadow: 6px 6px 3px #888888;
}
.flecha{
 width: 0;
 height: 0;
 position: relative;
 z-index: 1;
 top: 10px;
 border-width: 1px;
 border-color: lightgrey;
 border-top: 20px solid transparent;
 border-bottom: 20px solid transparent;
 border-right:30px solid #f4e2db;

}

.comentarios{
 padding-left: 5px;
 border-left: solid;
 border-width: 1px;
 border-color: lightgrey;
}
textarea{
  width: 100%;
  height: 103px;
  resize: none;
  width: 100%;
  height: 103px;
  resize: none;
  background-color: #f4e2db;
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 7px;
}
.btncoment{
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.btncoment:hover{

  background-image: url(../images/playwhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.content_background{
  background-color: white;
  padding: 60px;
  border-radius: 10px;
}
a{
  color:black;
}
a:active{
  color:black;
}
