.contentSection {
	display: flex;
	flex-direction: column;
	margin-top: 1vw;
}

.buscar{
	width: 50px;
    height: 100%;
  /*width: 22%;*/
  display: flex;
  display:-webkit-flex;
  /*justify-content: end;
  -webkit-justify-content:end;*/
  /*margin-top: 7vh;*/
  /*background: #ffc823;*/
}

/* En caso de usar un button con imagen incrustada dentro se usa ese estilo */
button.lupa-search  {
    margin: 0px;
    padding: 0px;
    font-family:Lucida Sans MS, Tahoma;
    font-size: 12px;
    color: #000;
    white-space:nowrap;
    width:auto;
    overflow:visible;
    height:28px;
}

button.lupa-search em{
	vertical-align:middle;
    margin:0 2px;
    display:inline-block;
    width:16px;
    height:16px;
	background-image: url("../images/lupa-01.png");
    /*background-image: url("../images/search.svg");*/
}
/* En caso de usar una imagen que hace de botón, que es el actual */
input.lupa{
	margin: 0px;
	width: 2vw;

	/*background-image: url("../images/search.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display:inline-block;*/
}

.search-box{
	width: 1vw;
	position: relative;
	display: inline-block;
	font-size: 1vw;

}

.search-box input[type="text"]{
	margin-top: 1vw;
	height: 2vw;
	padding: 0.5vw 0.7vw;
	border: 0px solid #45b7ae;
	font-size: 1vw;
	width: 111px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}

.input[type=text]:focus {
    width: 100%;
}

.result{
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;

}

.result div{
	border: 2px solid black;
	/*border-top: none;*/
	border-radius: 20px;
}

.search-box input[type="text"], .result{
	/*width: 100%;*/
	width: 14vw;
	box-sizing: border-box;
	border-radius: 20px;
	background: white;

}

.result p  {
	margin: 0;
	/*width: 100%;*/
	padding: 7px 10px;
	cursor: pointer;
	/*background: #FFFFFF;*/
	border-radius: 20px;
	color:black;
}


.result p:hover{
	background: #f4e2db;
}

div.search-show{
  display: flex;
  /*min-height:30vw;*/
  /*width:90vw;*/
  /*background-color: pink; */
  justify-content: space-around;
  padding: 1vw;
  flex-wrap: wrap;

}

div.search-item{
	/* background-color: #f4e2db;*/
	display:flex;
	/*min-width:10vw;
	min-height: 1vw;*/
	margin-bottom: 1vw;
}

div.search-item-inside{
	/* background-color: yellow; */
	display:flex;
	flex-direction: column;
	justify-content: center;
	/*min-height: 6vw;*/
	background: rgba(0, 0, 0, 0.75);

}

span.search-item-name {
	font-size: 2vw;
	color: #dccbb8;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

img.search-item {
	display: flex;
	/*min-width: 5vw;
	max-width: 30vw;*/
	width: 30vw;
	justify-content: center;

}

img.oscuro {
	 -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);

}

span.search-titulo{
	display: flex;
	font-size: 2vw;
	/*color: #45b7ae;*/
	color:white;
	text-align: center;
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
/*.cl-effect-2 a {
	line-height: 44px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}*/

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	/* padding: 0 14px; */
 	background:#f4e2db;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	text-align:center;
	font-size: 2vw;
	color: #aa582c;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f4e2db;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	padding: 1vw;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
	background: #f4e2db;
}



/* BARRA EXPANDIDA */
/*
input {
	outline: none;
}
input[type=text] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

.search-box input[type=text] {
	/*background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;*/
/*	background: url("../images/lupa-01.png") no-repeat center;
	background-size: 2vw;
	/*border: solid 1px #ccc;*/
	/*padding: 9px 10px 9px 32px;*/
/*	width: 1vw;
	/*text-indent: 25px;*/
/*	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.search-box input[type=text]:focus {
	width: 15vw;
	background: none;
	background-color: #fff;
	border: solid 1px #45b7ae;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.search-box input:-moz-placeholder {
	color: #999;
}
.search-box input::-webkit-input-placeholder {
	color: #999;
}*/


/* BARRA NUEVA */



*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ******************************************************
	Expanding Search Bar - CSS Only Version
*********************************************************/


.expSearchBox {

    /*float: right;
    margin: 28px 0;*/

	width: 1vw;
	position: relative;
	display: inline-block;
	font-size: 1vw;

}
.expSearchFrom {
    border: 3px solid black;
    border-radius: 20px;
    display: inline-block;
    height: 34px;
    position: relative;

}


input#field{
	cursor:pointer;
    border:none;
    background: transparent;
    height:30px;
    width:0px;
    line-height:0px;
    vertical-align:top;
    padding:0px 15px;
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
    position:relative;
    z-index:2;
    color: black;
    }
input#field:focus{
    width:200px;
    outline:none;
    margin-right:30px;
		background-color: white;
		color:black;
		border-radius: 20px;
}
.close{
    position:absolute;
    width:30px;
    height:30px;
    top:0px;
    right:0px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    z-index:1;
}
/* Bloque que cierra con X */
.close span {
    background: black none repeat scroll 0 0;
    border-radius: 3px;
    display: block;
    height: 4px;
    position: absolute;
    right: -7px;
    top: 29px;
    width: 14px;
	 -webkit-transition: .2s .5s ease-in-out ;
    -moz-transition: .2s .5s ease-in-out;
    -o-transition: .2s .5s ease-in-out;
    transition: .2s .5s ease-in-out;
   -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}


.close span.back{
    top:12px;
    right:5px;
    opacity:0;
}
input#field:focus + .close span{
    top:12px;
    right:5px;
}

input#field:focus + .close span.back{
    -webkit-transition: .5s .7s ease-in-out ;
    -moz-transition: .5s .7s ease-in-out;
    -o-transition: .5s .7s ease-in-out;
    transition: .5s .7s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity:1;
}
