/* Para el video - Jordi */
/*video {
	width: 100%;
	height: 100%;

}*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: black;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
   background: url('../images/videoesdi.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#div-video>button{
    margin-bottom: -4.5vh;
    margin-left: 5vh;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    font-size: 2vmax;
    border-radius: .7vmax;
    cursor: pointer;
	
}

#videobutton {
	display:flex;
	height: 80vh;
	margin-right:0vw;
	margin-left:auto;
}

.icon-play3{
    display:none;
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    font-size: 2vmax;
    cursor:pointer;
	margin-bottom: 1vh;
	align-self: flex-end;
    border-radius: .7vmax;
}

.icon-pause2{

    color: #ffffff;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    font-size: 2vmax;
    cursor:pointer;
	margin-bottom: 1vh;
    align-self: flex-end;
    border-radius: .7vmax;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wx5z0n');
  src:  url('../fonts/icomoon.eot?wx5z0n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wx5z0n') format('truetype'),
    url('../fonts/icomoon.woff?wx5z0n') format('woff'),
    url('../fonts/icomoon.svg?wx5z0n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}


